/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 10em 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 35em;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

li a {
	text-decoration: none;
	color: black;
}

/*******/

#introduction .icon {
	flex-direction: row;
	justify-content: space-evenly;
	transform: translate(-51.6em, 10em);
}

/*******/

.filter-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 4%;
}

.filter-buttons button {
	font-family: 'Syne';
	font-weight: 700;
	height: 40px;
	color: #1D6154;
	border: 1px solid #1D6154;
	background-color: white;
	width: 170px;
	text-align: center;
	border-radius: 60px;
	margin: 1px;
}

.filter-buttons button:active, button:focus {
	background: #1D6154;
	color: white;
}

.icon {
	display: flex;
	font-size: 20px;
	transform: translate(34em, -59px);
}

.icon i {
	font-weight: 500;
	order: 1;
	margin-right: 3%;
	font-size: 21px;
	line-height: 25px;
}

.icon p {
	width: 7%;
	margin-left: -21px;
	margin-top: 5px;
	order: 2;
	font-size: 20px;
}


/**MODAL**/
#modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	display: none;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 10px;
	width: 600px;
	height: 845px;
	background-color: white;
}

.modal {
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	align-items: baseline;
	align-content: center;
	flex-wrap: wrap;
}

.project-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	width: 75%;
	justify-content: flex-start;
	transform: translateX(5%);
}
.modal .image-container {
	width: 15%;
}

.image-container img {
	width: 75px;
	height: 120px;
}

.image-container p {
	margin-top: -10px;
}

.modal .button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translate(1em, 45em);
}

.delete-icon {
	color: white;
	background: black;
	transform: translate(55px, -119px);
	text-align: center;
	width: 17px;
	height: 17px;
	line-height: 20px;
}

.button-container button {
	display: flex;
	justify-content: center;
	border-radius: 20px;
	width: 237px;
	align-self: center;
	height: 35px;
	align-items: center;
	color: white;
	background: #1D6154;
	border: none;
}

.button-container button:last-child {
	background: white;
	color: red;
}

.hr {
	width: 100%;
	height: 1px;
	background-color:#B3B3B3;
	margin: 3em;
  }

  .modal-title {
	display: flex;
	width: 100%;
	justify-content: center;
  }

  .modal-title h3 {
	font-size: 27px;
  }

  .close-icon {
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 22px;
  }

/***MODAL 2***/

.add-pic-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 650px;
	background-color: white;
}

.add-pic-modal .modal-title {
	transform: translateY(4em);
}

.add-pic-modal i {
	font-size: 22px;
	transform: translate(20px, 28px);
}

.add-pic-modal .close-icon {
	transform: translate(-35px, -20px);
}
.add-pic-modal .form-container {
	text-align: center;
	margin-top: 14%;
}

.image-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #E8F1F6;
	height: 200px;
}

.image-form input {
	display: none;
}


.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-container i {
	color: #CBD6DC;
	font-size: 5em;
	transform: translateY(9px);
}

.input-container .add-photo-button {
	width: 30%;
	height: 35px;
	border-radius: 20px;
	background: #CBD6DC;
	margin-top: 3em;
	color: #306685;
	border: none;
}

.title-form, .category-form {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}

.title-form span, .category-form span {
	width: 50%;
	margin-bottom: 2px;
}

.title-form input {
	height: 46px;
	width: 61%;
	border: none;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.09);
	place-self: center;
}

.category-form select {
	height: 46px;
	width: 61%;
	border: none;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.09);
	place-self: center;
}

.image-preview {
	display: flex;
	position: absolute;
	width: 100%;
	max-width: 200px;
	height: 14em;
	object-fit: cover;
}

.form-container button {
	margin-top: 0;
	border-radius: 20px;
	width: 30%;
	height: 30px;
	border: none;
	background: #1D6154;
	color: white;
}

.form-container .hr {
	width: 85%;
	margin: 2em;
}

.black-bar {
	background-color: black;
	color: white;
	height: 40px;
	display: none;
	align-items: center;
	transform: translateY(-144px);
	justify-content: center;
	font-family: 'Work Sans';
  }
  
  .edit-icon {
	font-size: 16px;
	margin-right: 10px;
	transform: none;
	font-weight: 500;
  }
  
  .black-bar span {
	margin: 10px;
	font-size: 16px;
	margin-right: 2em;
  }

  .black-bar button {
	border-radius: 20px;
	height: 30px;
	width: 13em;
	background: #FFFFFF;
  }